/* The used font is "Roboto" -> google font.
The used colors are "#6d8adbc7" , "#dae4ff" and "#eee". */
 #formDiv{
     display:inline;
     /* margin: 0 auto; */

 }
 h1 {
     font-size: 25px;
     font-weight: bold;
     text-align: center;
     padding-top: 5%;
     padding-bottom: 6%;
    }

 form#formData {
    /* display: block; */
    background-color: #7eb1f352;
    width: 50%;
    height: 500px;
    margin: 10% ;
    float: left;
    clear: left;
}
ul {
    display: inline;
    list-style: circle;
}
label {
    display: block;
    text-align: left;
    margin: 6% auto;
    padding-left: 17%;
}
span {
    display: block;
    font-size: 25px;
}
#submit-btn{
    background-color: rgba(42, 63, 107, 0.61);
    color: white;
    text-align: center;
    /* margin: 0 auto; */
    margin-right: 16%;
    float: right;
    clear: both;

}
input#taskInput {
    width: 80%;
    height: 30px;
    margin-top: 2%;

}
input#dateInput {
    width: 80%;
    height: 30px;
    margin-top: 2%;


}
div#list {
    display: inline;
    float: r;
    float: left;
    margin-top: 20%;
    /* margin-right: 23%; */
    font-size: 20px;
    line-height: 49px;
}